@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
.container-presentation {
  position: relative;
  background-color: #f5f5f5;
  padding-top: 60px;
}
.container-presentation .spanbanckground1 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 100px;
  z-index: 0;
  opacity: 0.05;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .container-presentation .spanbanckground1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  .container-presentation .spanbanckground1 {
    font-size: 45px;
  }
}
.container-presentation .title-h2 {
  position: relative;
  left: 50%;
  margin-bottom: 10px;
  color: #5b5963;
  text-align: center;
  font-weight: 900;
  padding-top: 100px;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .container-presentation .title-h2 {
    padding-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .container-presentation .title-h2 {
    font-size: 35px;
    padding-top: 60px;
  }
}
.container-presentation .borderBottom {
  width: 10%;
  color: black;
  font-weight: bold;
  margin-bottom: 50px;
}
.container-presentation .paragraphe {
  font-weight: lighter;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  padding-bottom: 55px;
}

.containerRealisation {
  padding-top: 60px;
  margin-bottom: 60px;
}
.containerRealisation .title-h2 {
  position: relative;
  left: 50%;
  padding-top: 100px;
  margin-bottom: 10px;
  color: #5b5963;
  text-align: center;
  font-weight: 900;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .containerRealisation .title-h2 {
    padding-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .containerRealisation .title-h2 {
    font-size: 35px;
    padding-top: 60px;
  }
}
.containerRealisation .spanbanckground {
  position: absolute;
  font-size: 100px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
  opacity: 0.05;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .containerRealisation .spanbanckground {
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  .containerRealisation .spanbanckground {
    font-size: 45px;
  }
}
.containerRealisation .borderBottom {
  width: 10%;
  color: black;
  font-weight: bold;
  margin-bottom: 50px;
}
.containerRealisation .containerProjet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 55px;
  max-width: 650px;
  margin: 0 auto;
  gap: 30px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 5s ease, transform 3s ease;
}
.containerRealisation .containerProjet.visible {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 410px) {
  .containerRealisation .containerProjet {
    margin-left: 50px;
    margin-right: 50px;
  }
}
.containerRealisation .containerProjet .photoProjet {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.container-competence {
  position: relative;
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-competence .title-h2 {
  position: relative;
  left: 50%;
  padding-top: 100px;
  margin-bottom: 10px;
  color: #5b5963;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .container-competence .title-h2 {
    padding-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .container-competence .title-h2 {
    font-size: 35px;
    padding-top: 60px;
  }
}
.container-competence .spanCompetence {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 100px;
  z-index: 0;
  opacity: 0.05;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .container-competence .spanCompetence {
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  .container-competence .spanCompetence {
    font-size: 45px;
  }
}

.borderBottom {
  width: 10%;
  color: black;
  font-weight: bold;
  margin-bottom: 50px;
}

.container-skills {
  display: flex;
  justify-content: center;
}
.container-skills .skilss {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 70px;
}
@media screen and (max-width: 576px) {
  .container-skills .skilss {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.container-skills .skilss .langage-div {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .container-skills .skilss .langage-div {
    width: 100%;
  }
}
.container-skills .skilss .library {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .container-skills .skilss .library {
    width: 100%;
  }
}
.container-skills .bar {
  width: 100%;
  height: 25px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}
.container-skills .bar.visible {
  animation: bar 0.9s linear forwards;
  /* Vitesse de défilement et boucle infinie */
}
.container-skills .bar .bar-inner {
  position: relative;
  background-color: #b9b9e9;
  height: 100%;
  border-radius: 10px;
}
.container-skills .bar .bar-inner.visible {
  animation: barProgress 0.9s linear forwards;
}
.container-skills .bar .bar-inner p {
  color: white;
}
@keyframes barProgress {
  from {
    width: 0;
  }
  to {
    width: calc(var(--percent) * 1%);
  }
}
@keyframes bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.container-contact {
  padding-bottom: 55px;
  padding-top: 60px;
}
.container-contact .spanContact {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 100px;
  text-align: center;
  z-index: 0;
  opacity: 0.05;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .container-contact .spanContact {
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  .container-contact .spanContact {
    font-size: 45px;
  }
}
.container-contact .title-h2 {
  padding-top: 100px;
  position: relative;
  margin-bottom: 10px;
  color: #5b5963;
  text-align: center;
  font-weight: 900;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .container-contact .title-h2 {
    padding-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .container-contact .title-h2 {
    font-size: 35px;
    padding-top: 60px;
  }
}
.container-contact .borderBottom {
  width: 10%;
  color: black;
  font-weight: bold;
}
.container-contact p {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media screen and (max-width: 576px) {
  .container-contact p {
    font-size: 12px;
  }
}

.container-icon {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}
.container-icon .icon1 {
  font-size: 20px;
  height: 80px;
  transition: transform 0.5s;
}
.container-icon .icon1:hover {
  transform: rotate(360deg);
}
.container-icon .icon2 {
  font-size: 20px;
  height: 80px;
  transition: transform 0.5s;
}
.container-icon .icon2:hover {
  transform: rotate(360deg);
}

.photoProjet {
  box-shadow: #f5f5f5;
}

#overlay {
  position: relative;
}

.overlay-effect {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.btn-post {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 1%;
  height: 30px;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.btn-post .btn {
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  background-color: #b9b9e9;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.overlay-link {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.overlay-link:hover .overlay-effect {
  opacity: 1;
}
.overlay-link:hover .btn-post {
  display: block;
}
.overlay-link:hover .text-overlay {
  display: block;
}
.overlay-link img {
  max-width: 100%;
  height: auto;
}

.text-overlay {
  color: white;
  display: none;
}
.text-overlay .textFormat {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.containerPost {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 60px;
}

.post-content {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .post-content {
    flex-wrap: wrap;
  }
}
.post-content .container-img {
  width: 50%;
  animation: slideIn 1.5s ease;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.post-content .container-img .photoPost {
  max-width: 100%;
  height: 1250px;
  width: 100%;
  object-fit: fill;
}
@media screen and (max-width: 768px) {
  .post-content .container-img {
    width: 100%;
  }
}
.post-content .arrow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.post-content .arrow .prev-arrow {
  position: relative;
  font-size: 45px;
  text-decoration: none;
  color: black;
  text-align: center;
  height: 1px;
  transition: 0.2s color ease;
}
.post-content .arrow .prev-arrow:hover {
  color: #b9b9e9;
}
.post-content .arrow .prev-arrow:hover:before {
  width: 100%;
}
.post-content .arrow .prev-arrow:hover:after {
  width: 100%;
}
.post-content .arrow .prev-arrow:after {
  content: "";
  position: absolute;
  width: 0;
  transition: 0.5s all ease;
  bottom: -4rem;
  height: 4px;
  width: 0;
  background: #b9b9e9;
  left: 50%;
  transform: translateX(-50%);
}
.post-content .arrow .next-arrow {
  display: flex;
  justify-content: end;
  position: relative;
  font-size: 45px;
  text-decoration: none;
  color: black;
  text-align: center;
  height: 1px;
  transition: 0.2s color ease;
}
.post-content .arrow .next-arrow:hover {
  color: #b9b9e9;
}
.post-content .arrow .next-arrow:hover:after {
  width: 100%;
}
.post-content .arrow .next-arrow:after {
  content: "";
  position: absolute;
  width: 0;
  transition: 0.5s all ease;
  bottom: -4rem;
  height: 4px;
  width: 0;
  background: #b9b9e9;
  left: 50%;
  transform: translateX(-50%);
}
.post-content .post-title {
  margin-bottom: 10px;
}
.post-content .post-meta {
  width: 50%;
  animation: FadeRight 1.5s ease;
}
@keyframes FadeRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.post-content .post-meta .post-title {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .post-content .post-meta .post-title {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .post-content .post-meta {
    width: 100%;
    margin-bottom: 50px;
  }
}
.post-content .post-meta .meta {
  font-weight: bold;
}
.post-content .post-meta .lien {
  margin-bottom: 0;
}

@media screen and (max-width: 722px) {
  .burgerMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50px;
    height: 35px;
    left: 25%;
    cursor: pointer;
    margin-top: 15px;
  }
}
@media screen and (max-width: 722px) and (max-width: 470px) {
  .burgerMenu {
    margin-right: 50px;
  }
}
.line {
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
  transition: all 0.7s linear;
}

.burgerMenu.open span.l2 {
  opacity: 0;
}
.burgerMenu.open span.l1 {
  transform: rotate(45deg) translate(6px, 10px);
}
.burgerMenu.open span.l3 {
  transform: rotate(-45deg) translate(6px, -10px);
}

.navbar-nav {
  display: flex;
}
@media screen and (max-width: 722px) {
  .navbar-nav {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #f5f5f5;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    bottom: 0;
    margin: 0 !important;
    padding-left: 0;
    padding-top: 80px;
  }
  .navbar-nav.open {
    display: block;
    animation: fadeMenu 1.5s forwards;
  }
}
@media screen and (max-width: 722px) {
  .navbar-nav a {
    margin-right: 0 !important;
    padding-bottom: 40px;
    padding-left: 0 !important;
    font-size: 40px !important;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
  }
}

@keyframes fadeMenu {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  font-family: "Poppins", sans-serif;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

body {
  margin: 0;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid transparent;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
#navigation .logo-site {
  font-family: "Akira Expanded Demo";
  font-size: 40px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
#navigation .navbar-nav {
  list-style: none;
  margin-right: 50px;
}
#navigation .navbar-nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-left: 25px;
  position: relative;
}
#navigation .navbar-nav a.active {
  font-weight: bold;
  color: #b9b9e9;
}
#navigation .navbar-nav a:hover {
  color: #b9b9e9;
}
#navigation .navbar-nav a:hover:after {
  width: 100%;
}
@media screen and (max-width: 722px) {
  #navigation .navbar-nav a:hover:after {
    width: 50%;
  }
}
#navigation .navbar-nav a:after {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  bottom: -3px;
  height: 4px;
  width: 0;
  background: #b9b9e9;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 722px) {
  #navigation .navbar-nav a:after {
    bottom: 2.5rem;
    height: 5px;
  }
}

#hero {
  position: relative;
  height: calc(100vh - 80px);
}
#hero .image-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 900;
  width: 70%;
  margin: 0;
  -webkit-text-stroke: 1px black;
  color: transparent;
  font-style: oblique;
  opacity: 0.2;
}
@media screen and (max-width: 768px) {
  #hero h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  #hero h1 {
    font-size: 35px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#footer {
  background-color: #f5f5f5;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  #footer .textFooter {
    font-size: 13px;
  }
}

/*# sourceMappingURL=main.css.map */
