#overlay {
  position: relative;
}

.overlay-effect {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;

  

}
.btn-post {
  width: 100%;
  position: absolute;
  bottom: 1%;

  //border: 1px solid black;
  display: none;
  height: 30px;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;

  .btn {
    

    display: flex;
 
    justify-content: center;
    border: none;
    align-items: center;
    background-color: #b9b9e9;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  
  }
}

.overlay-link {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    .overlay-effect {
      opacity: 1;
    }

    .btn-post {
      display: block;
    }

    .text-overlay {
      display: block;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }




}

.text-overlay {
  color: white;
  display: none;

  .textFormat {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


}